*~
*.swp
*.bak
*.inc
*.o
*.so
*.a
bin/*
scripts/portsdown_config.txt
scripts/portsdown_presets.txt
src/adf4351/adf4351
src/atten/set_attenuator
src/keyedtx/keyedtx
src/rptr/keyedstream
src/siggen/libshapes.so
src/siggen/siggen
scripts/images/BATC_IP_Splash.png
scripts/installed_version.txt
src/avc2ts/avc2ts
src/avc2ts/avc2ts.o
src/avc2ts/grabdisplay.o
src/avc2ts/libmpegts/
src/avc2ts/vncclient.o
src/avc2ts/webcam.o
src/DvbTsToIQ/dvb2iq
src/libdvbmod/lib/libdvbmod.a
src/libdvbmod/obj/libdvbmod.o
src/gui/DejaVuSans.inc
src/gui/DejaVuSansMono.inc
src/gui/DejaVuSerif.inc
src/gui/font2openvg
src/gui/libshapes.o
src/gui/libshapes.so
src/gui/oglinit.o
src/gui/rpidatvgui
src/gui/tcanim
src/gui/tcanim1v16
src/hello_video/hello_video.bin
src/hello_video2/hello_video2.bin
src/leansdr/
src/limesdr_toolbox/CMakeFiles/
src/limesdr_toolbox/limesdr_dump
src/limesdr_toolbox/limesdr_forward
src/limesdr_toolbox/limesdr_send
src/limesdr_toolbox/limesdr_stopchannel
src/rpidatv
src/siggen/DejaVuSans.inc
src/siggen/DejaVuSansMono.inc
src/siggen/DejaVuSerif.inc
src/siggen/font2openvg
src/siggen/libshapes.o
src/siggen/oglinit.o
src/tstools/
src/xy/xy
src/xy/libshapes.o
src/xy/libshapes.so


