*~
*.swp
*.bak
*.inc
*.o
*.so
*.a
scripts/portsdown_config.txt
scripts/portsdown_presets.txt
src/adf4351/adf4351
src/atten/set_attenuator
src/keyedtx/keyedtx
src/rptr/keyedstream
src/siggen/libshapes.so
src/siggen/siggen
scripts/images/BATC_IP_Splash.png
scripts/installed_version.txt
src/DvbTsToIQ/dvb2iq
src/DvbTsToIQ/DvbTsToIQ.o
src/libdvbmod/lib/libdvbmod.a
src/libdvbmod/obj/libdvbmod.o
src/gui/rpidatvgui
src/hello_video/hello_video.bin
src/hello_video2/hello_video2.bin
src/leansdr/
src/libdvbmod/lib/libdvbmod.a
src/libdvbmod/lib/libdvbmod.o
src/limesdr_toolbox/CMakeFiles/
src/limesdr_toolbox/libdvbmod/
src/limesdr_toolbox/limesdr_dump
src/limesdr_toolbox/limesdr_forward
src/limesdr_toolbox/limesdr_send
src/limesdr_toolbox/limesdr_stopchannel
src/limesdr_toolbox/limesdr_dvb
src/rpidatv
src/bandview/bandview
src/dvb_t_stack/Release/
src/power_meter/power_meter
src/sweeper/sweeper
src/streamrx/streamrx
src/airspyview/airspyview
src/rtlsdrview/rtlsdrview
src/plutoview/plutoview
src/nf_meter/nf_meter
src/pluto_nf_meter/pluto_nf_meter
src/dmm/dmm
src/wav2lime/wav2lime
src/meteorview/meteorview
src/noise_meter/noise_meter
src/pluto_noise_meter/pluto_noise_meter
src/meteorbeacon/beacon
src/meteorbeacon/server
src/sdrplayview/sdrplayview
src/rydemon/rydemon
src/muntjac/muntjacsdr_dvb
src/muntjac/mjcalib
scripts/configs/Langstone.conf
scripts/configs/Langstone_Lime.conf
scripts/configs/Langstone_Pluto.conf
bin/adf4351
bin/avc2ts
bin/bandview
bin/nf_meter
bin/pluto_nf_meter
bin/dvb2iq
bin/dvb_t_stack
bin/keyedtx
bin/keyedtxtouch
bin/limesdr_dump
bin/limesdr_dvb
bin/limesdr_forward
bin/limesdr_send
bin/limesdr_stopchannel
bin/rpidatvgui
bin/set_attenuator
bin/siggen
bin/plutotx
bin/power_meter
bin/sweeper
bin/airspyview
bin/rtlsdrview
bin/plutoview
bin/dmm
bin/wav2lime
bin/meteorview
bin/noise_meter
/bin/pluto_noise_meter
bin/beacon
bin/server
bin/sdrplayview
bin/rydemon
bin/muntjacsdr_dvb
bin/*.mjo



